<%# Header %>

    <header class="header-home sticky top-0 flex justify-center items-center gap-10 py-8 custom:flex-col">

        <span class="header-span text-4xl">Wasak Beats Blog</span>
        
        <nav>
            <ul class="nav_links flex gap-5 text-xl custom:text-xl gap-4">
                <li class="hover:border-b-2 hover:border-b-fuchsia-600 text-fuchsia-400"><a href="/">Home</a></li>
                <li class="hover:border-b-2 hover:border-b-fuchsia-600"><%= link_to "Blog", posts_path %></li>
                <li class="hover:border-b-2 hover:border-b-fuchsia-600"><%= link_to "Create Lyrics", songs_path %></li>
                <button><%= link_to "Sign In", songs_path, class: 'signin-btn bg-violet-800 font-semibold hover:bg-violet-900' %></button>
            </ul>
        </nav>

    </header>
    
<%# End of Header %>

<%# Section %>

    <section class="home-section flex justify-center custom:flex-col-reverse fade-in">
        <div class="home-left font-semibold custom:text-center">
            <h2 class="text-4xl custom:text-2xl">Bring your feelings into a song</h2>
            <h2 class="text-4xl mt-2 custom:text-2xl">Create, share your lyrics to<br/> the world now!</h2>
            <br/>
            <%= link_to "Look for Inspirations", posts_path, class: 'signin-btn look-btn bg-violet-800 font-semibold hover:bg-violet-900' %>
        </div>

        <div class="home-right">
            <%= image_tag 'home_bg.png', alt: 'Home image main background' %>
        </div>
    </section>

<%# End of Section %>

    <br/><br/>

    <div class="text-center">
        <span class="text-stone-400 font-semibold uppercase tracking-wide">Learn More</span>
        <br/>
        <span class="text-stone-400 font-semibold">▽</span>
    </div>

    <br/><br/>

<%# Section %>

    <section class="home-section flex gap-20 justify-center custom:flex-col-reverse fade-in">
        <div class="home-left home-left-2 font-semibold custom:text-center">
            <h2 class="text-2xl custom:text-xl">Create, Share, and Sing on the go!</h2>
            <h2 class="text-xl text-stone-400 mt-2 custom:text-lg">Available on the Google playstore<br/> and the Apple app store soon!</h2>
        </div>

        <div class="home-right">
            <%= image_tag 'phone.png', alt: 'Home image main background' %>
        </div>
    </section>

<%# End of Section %>

    <br/><br/>

<%# Section %>

    <section class="home-section flex gap-20 justify-center custom:flex-col gap-0 fade-in">
        <div class="home-left-image font-semibold custom:text-center">
            <%= image_tag 'explore.png', alt: 'Home image main background' %>
        </div>

        <div class="home-right-none-image custom:text-center">
            <h2 class="text-2xl custom:text-xl font-semibold">Explore, Collab, with everybody!</h2>
            <h2 class="text-xl text-stone-400 mt-2 custom:text-lg font-semibold">Explore song lyrics made by others<br/> and try collaborating with them!</h2> 
        </div>
    </section>

<%# End of Section %>

    <br/><br/>

<%# Section %>

    <section class="home-section flex gap-20 justify-center custom:flex-col-reverse fade-in">
        <div class="home-left home-left-2 font-semibold custom:text-center">
            <h2 class="text-2xl custom:text-xl">Create your own Set Privately</h2>
            <h2 class="text-xl text-stone-400 mt-2 custom:text-lg">Create your own library of song lyrics<br/> and get back to it later on!</h2>
        </div>

        <div class="home-right">
            <%= image_tag 'private.png', alt: 'Home image main background' %>
        </div>
    </section>

<%# End of Section %>

<%# Footer %>

    <footer class="bg-stone-800 text-center font-semibold text-2xl mt-4">
        <br/><br/>
        <span class="bg-stone-800">Wasak Beats 2022</span>
        <br/>
        <span class="bg-stone-800 text-xl mt-2">by: Isaac Sarte</span>
        <br/><br/>
    </footer>

<%# End of Footer %>
