<div class="min-h-full flex items-center justify-center py-12 px-4 mt-16 custom:mt-0 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-white">Sign in to your account</h2>
    </div>

    <%= form_for(resource, as: resource_name, :html => {:class => "mt-8 space-y-6"}, url: session_path(resource_name), data: {turbo: false}) do |f| %>

      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.email_field :email, class:"input-signin bg-white appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm custom:w-3/4", autofocus: true, autocomplete: "email", placeholder: "Email Address" %>
        </div>
        <br/>
        <div>
          <%= f.password_field :password, class:"input-signin bg-white appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm custom:w-3/4", autocomplete: "current-password", placeholder: "Password" %>
        </div>
      </div>

      <div>
        <%= f.submit "Sign in", class:"cursor-pointer group relative w-2/4 flex justify-center py-2 px-4 border border-transparent text-lg font-medium rounded-md text-white bg-pink-700 hover:bg-pink-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 custom:w-full" %>
        <br/>
        <p>Don't have an account yet? </p>
        <%= render "devise/shared/links" %>
      </div>

    <% end %>

  </div>
</div>
