<%= render 'header' %>

<div class="method-btn">
    <div class="new-back-btn">
        <%= link_to 'Back to Blog', posts_path %>
    </div>
</div>

<div class="index-public">

    <div class="public-posts-edit">
        <h2>Updating this Collab Song</h2>
        <br/><br/>

        <div class="public-posts-new-edit">
            <%= form_with scope: :post, url: post_update_path(@post.id), method: 'put', data: {turbo_confirm: 'Are you sure want to edit and collab with this song?'}, class: 'form' do |form| %>

                <div class="form-group-left-side">
                    <div class="form-group">
                        <%= form.label :title %><br/>
                        <%= form.text_field :title, class: 'title-input fade' %>
                    </div>

                    <br/>

                    <div class="form-group">
                        <%= form.label :description %><br/>
                        <%= form.text_area :description, class: 'desc-input fade1' %>
                    </div>

                    <br/>
                </div>

                <div class="form-group-right-side">
                    <div class="form-group">
                        <%= form.label "Song Lyrics" %><br/>
                        <%= form.text_area :lyric, class: 'lyric-input fade2'%>
                    </div>
                </div>

                <br/>

                <div class="actions">
                    <%= form.submit 'Edit and Collab with this Song' %>
                </div>

                <br/>

            <% end %>
        </div>

    </div>

</div>
