<%= render 'header' %>

<div class="method-btn">
    <div class="new-back-btn">
        <%= link_to 'Back to Blog', posts_path %>
    </div>
</div>

<div class="index-public">

    <div class="public-posts-edit">
        <h2>Updating this Collab Song</h2>
        <br/><br/>

        <div class="public-posts-new-edit">
            <%= form_with scope: :post, url: post_update_path(@post.id), method: 'put', data: {turbo_confirm: 'Are you sure want to edit and collab with this song?'}, class: 'form' do |form| %>

                <div class="form-group-left-side">
                    <div class="form-group">
                        <%= form.label :title %><br/>
                        <%= form.text_field :title, class: 'title-input fade' %>
                    </div>

                    <br/>

                    <div class="form-group">
                        <%= form.label :description %><br/>
                        <%= form.text_area :description, class: 'desc-input fade1' %>
                    </div>

                    <br/>
                </div>

                <div class="form-group-right-side">
                    <div class="form-group">
                        <%= form.label "Song Lyrics" %><br/>
                        <%= form.text_area :lyric, class: 'lyric-input fade2'%>
                    </div>
                </div>

                <br/>

                <div class="actions">
                    <%= form.submit 'Edit and Collab with this Song' %>
                </div>

                <br/>

            <% end %>
        </div>

    </div>

    <div class="custom-shape-divider-top-1643736305">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>

</div>