<%= render 'header' %>

<div class="method-btn">
    <div class="new-public-song-btn">
        <%= link_to 'Share and Collab another New Song', posts_new_path %>
    </div>
</div>
    
<div class="index-public">

    <div class="public-posts">
        <div class="public-posts-card">
            <% @posts.each do |post| %>

                <div class="index-public-title">
                    <p><%= post.title %></p>
                </div>

                <div class="index-public-description">
                    <p class="p-desc">Description: </p><br/>
                    <%= post.description %>
                </div>

                <div class="index-public-lyrics">
                    <p class="p-lyric">Lyrics: </p><br/>
                    <%= post.lyric %>
                </div>

                <br/> <br/>

                <div class="edit-btn">
                    <%= link_to '✒️Edit and Collab with this Song', post_edit_path(post.id) %>
                </div>
                
                <br/><br/>

            <% end %>
        </div>
    </div>
  
</div>
