<%= render 'header' %>

<div class="method-btn">
    <div class="new-back-btn">
        <%= link_to 'Back to Blog', posts_path %>
    </div>
</div>

<div class="index-public">

    <div class="public-posts-new">
        <h2>Create A Song to Collab With</h2>
        <br/><br/>

        <div class="public-posts-new-main">
            <%= form_with scope: :post, url: post_create_path, local: true, data: {turbo: false}, class: 'form' do |form| %>

                <div class="form-group-left-side">
                    <div class="form-group">
                        <%= form.label :title %><br/>
                        <%= form.text_field :title, class: 'title-input fade', placeholder: 'Song Title by You' %>
                    </div>

                    <br/>

                    <div class="form-group">
                        <%= form.label :description %><br/>
                        <%= form.text_area :description, class: 'desc-input fade1' %>
                    </div>

                    <br/>
                </div>

                <div class="form-group-right-side">
                    <div class="form-group-2">
                        <%= form.label "Song Lyrics" %><br/>
                        <%= form.text_area :lyric, class: 'lyric-input fade2' %>
                    </div>
                </div>

                <br/>

                <div class="actions act-form">
                    <%= form.submit "Save Song" %>
                </div>

                <br/>

            <% end %>
        </div>
        
    </div>

    <div class="custom-shape-divider-top-1643730706">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>


</div>