<div class="private-posts-new-card">
  <%= form_with(model: @song, data: {turbo_confirm: 'Are you sure?'}) do |form| %>
    
    <% if @song.errors.any? %>
      <div class="error-new-private">

        <ul>
          <% @song.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
        
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title %><br/><br/>
      <%= form.text_field :title, class: 'title-input-private fleft', placeholder: 'Song Title by You' %>
    </div>

    <br/>

    <div class="form-group">
      <%= form.label "Song Description" %><br/><br/>
      <%= form.text_area :description, class: 'lyric-input fright' %>
    </div>

    <br/>

    <div class="actions">
      <%= form.submit %>
    </div>

  <% end %>
</div>