<%= render 'header' %>

<div class="method-btn">
  <div class="delete-song-btn">
    <%= link_to "Delete this Song", @song, method: :delete %>
  </div>
  <div class="edit-show-song-btn">
        <%= link_to 'â†© Back to Songs', songs_path %>
    </div>
</div>

<div class="index-private">

    <div class="edit-private-songs">

        <h1 class="edit-main-text">Editing Song</h1>
        <br/>

        <div class="edit-song">
            <%= render 'form', song: @song %>
        </div>

        <%= form_with(model: [@song, @paragraph], class: 'hidden-form') do |form| %>
          <%= form.hidden_field :element_type, value: 'paragraph' %>
          <%= form.submit "âž• Add Lyrics", class: 'add-lyrics-btn' %>
        <% end %>

         <% @song.elements.each do |element| %>
          <% if element.persisted? %>
            <%= element.content %>
            <%= form_with(model: [@song, element], class: 'rich-form') do |form| %>
              <%= form.rich_text_area :content %>
              <div class="rich-form-btns">
                <%= form.submit "ðŸŽ™ï¸ Save" %>
                <p class="hide-editor">âž– Hide Editor</p>
              </div>
            <% end %>
            <p class="open-editor">âž• Show Editor</p>
          <% end %>
        <% end %>

    </div>

    <div class="custom-shape-divider-top-1643736305">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>

</div>