<%# Header %>

<%= render 'header' %>

<%# End of Header %>

<div class="method-btn">
  <div class="delete-song-btn">
    <%= link_to "Delete this Song", @song, method: :delete, data: {turbo_confirm: 'Are you sure want to delete this song?'} %>
  </div>
  <div class="edit-show-song-btn">
        <%= link_to 'â†© Back to Songs', songs_path %>
    </div>
</div>

<div class="index-private">

    <div class="edit-private-songs">

        <h1 class="edit-main-text">Editing Song</h1>
        <br/>

        <div class="edit-song">
            <%= render 'form', song: @song %>
        </div>

        <%= form_with(model: [@song, @paragraph], class: 'hidden-form') do |form| %>
          <%= form.hidden_field :element_type, value: 'paragraph' %>
          <%= form.submit "âž• Add Lyrics", class: 'add-lyrics-btn' %>
        <% end %>

         <% @song.elements.each do |element| %>
          <% if element.persisted? %>
            <%= element.content %>
            <%= form_with(model: [@song, element], class: 'rich-form') do |form| %>
              <%= form.rich_text_area :content %>
              <div class="rich-form-btns">
                <%= form.submit "ðŸŽ™ï¸ Save" %>
                <p class="hide-editor">âž– Hide Editor</p>
              </div>
            <% end %>
            <p class="open-editor">âž• Show Editor</p>
          <% end %>
        <% end %>

    </div>

</div>

<%# Footer %>

<%= render 'footer' %>

<%# End of Footer %>
