<%# Header %>

<%= render 'header' %>

<%# End of Header %>

<br/><br/>

    <%= render 'form', song: @song %>

        <%= form_with(model: [@song, @paragraph], class: 'hidden-form') do |form| %>
          <%= form.hidden_field :element_type, value: 'paragraph' %>
          <%= form.submit "âž• Add Lyrics", class: 'add-lyrics-btn' %>
        <% end %>

         <% @song.elements.each do |element| %>
          <% if element.persisted? %>
            <%= element.content %>
            <%= form_with(model: [@song, element], class: 'rich-form') do |form| %>
              <%= form.rich_text_area :content %>
              <div class="rich-form-btns">
                <%= form.submit "ðŸŽ™ï¸ Save" %>
                <p class="hide-editor">âž– Hide Editor</p>
              </div>
            <% end %>
            <p class="open-editor">âž• Show Editor</p>
          <% end %>
        <% end %>

<%# Footer %>

<%= render 'footer' %>

<%# End of Footer %>
