<%# Header %>

<%= render 'header' %>

<%# End of Header %>

<div class="post-index mt-16 sticky top-0 text-center text-3xl font-extrabold text-white custom:mt-0">
  Your Song Library
</div>

<div class="flex justify-evenly post-index-image-top">
    <div class="">
        <%= image_tag 'circle.png' %>
    </div>

    <div class="">
        <%= image_tag 'curvy.png' %>
    </div>
</div>

<section class="post-index-section mt-8">

  <div class="post-index-section-div max-w-7xl grid grid-cols-4 place-items-center justify-items-center custom:z-10 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:max-w-5xl 2xl:grid-cols-4">
    <% @songs.each do |song| %>
      <div class="bg-violet-900 rounded-lg p-4 flex-col">
        <p class="bg-violet-900 font-semibold text-xl text-center"><i class='bx bxs-music bg-violet-900 text-gray-300'></i> Song Title: </p>
        <h3 class="bg-violet-900 font-semibold text-center mt-2"><%= song.title %></h3>
        <hr />

        <br/>

        <p class="bg-violet-900 font-semibold text-xl">Description: </p>
        <h3 class="bg-violet-900"><%= song.description %></h3>

        <br/>

        <%= link_to edit_song_path(song), class: 'bg-violet-900 text-emerald-300 font-semibold' do %>
          ✒️Edit Song Information
        <% end %>

        <br/>

        <%= link_to "🗑️Delete this Song", song, class:'bg-violet-900 text-red-400 font-semibold', method: :delete, data: {turbo_confirm: 'Are you sure want to delete this song?'} %>
      </div>
    <% end %>
  </div>

</section>

<div class="mt-32 bottom-0 flex justify-evenly post-index-image-bot">
    <div class="">
        <%= image_tag 'triangle.png' %>
    </div>
    <div class="">
        <%= image_tag 'curved.png' %>
    </div>
</div>
